@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

body {
  background-color: rgb(54, 59, 54);
  text-align: center;
  color: rgb(224, 244, 247);
}

#myCanvas {
  background-image: url("https://i.namu.wiki/i/DE7C8gxIkQc9aWOfWLFh6y2LcfYDb4QBZ7eUP-R8WE85IZrrDDeCZAzftH8VC-RwDxkOx11cQ_O7RVbWbPkKWg.webp");
  background-size: 600px 400px;
  border-radius: 10px;
  background-position: center;
  border: 4px solid rgb(224, 244, 247);;
}

h1{
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
}

